# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file.
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
BuildHost-net472/
BuildHost-netcore/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

# NuGet
*.nupkg
*.snupkg
*.dll.config
*.pdb
*.psmdcp
*.vsix
*.vsixmanifest
*.nupkg.sha512
*.vsproj.user

# Rider
.idea/

# Other
*.bak
*.cache
*.com
*.lib
*.log
*.obj
*.out
*.res
*.sbr
*.sdf
*.tlb
*.tmp
*.tmx
*.userprefs
*.vspscc
*.vssscc
*.wrn
*.xproj
*.zip